<div class="main" role="main">
  <h1>Todo List</h1>
  <label>What do you wanna today?</label>
  <input class="lg-text-input" placeholder="Add a Todo" #newTodo (keyup.enter)="addTodo(newTodo.value); newTodo.value = '' ">
  <button class="btn-primary" (click)="addTodo(newTodo.value);  newTodo.value = ''">Add a Todo</button>
  <ul>
    <li *ngFor="let todo of todos">
      <app-todo [todo]="todo" (remove)="remove(todo)"></app-todo>
    </li>
  </ul>
  <app-todo></app-todo>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

